ForumService/ForumClient/Service References/ServiceReference1/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.ForumData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.ForumData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.0.7:8888/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.Users" />
  <xs:import schemaLocation="http://10.0.0.7:8888/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Forum">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.Users" minOccurs="0" name="admin" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="forumId" type="xs:int" />
      <xs:element minOccurs="0" name="forumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nextSubForumId" type="xs:int" />
      <xs:element minOccurs="0" name="nextUserId" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Forum" nillable="true" type="tns:Forum" />
  <xs:complexType name="ArrayOfForum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Forum" nillable="true" type="tns:Forum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfForum" nillable="true" type="tns:ArrayOfForum" />
  <xs:complexType name="ArrayOfSubForum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubForum" nillable="true" type="tns:SubForum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubForum" nillable="true" type="tns:ArrayOfSubForum" />
  <xs:complexType name="SubForum">
    <xs:sequence>
      <xs:element minOccurs="0" name="discussions" nillable="true" type="tns:ArrayOfDiscussion" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.Users" minOccurs="0" name="moderators" nillable="true" type="q2:ArrayOfUser" />
      <xs:element minOccurs="0" name="nextDiscussionId" type="xs:int" />
      <xs:element minOccurs="0" name="parentForum" nillable="true" type="tns:Forum" />
      <xs:element minOccurs="0" name="subForumId" type="xs:int" />
      <xs:element minOccurs="0" name="subForumTitle" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SubForum" nillable="true" type="tns:SubForum" />
  <xs:complexType name="ArrayOfDiscussion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discussion" nillable="true" type="tns:Discussion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscussion" nillable="true" type="tns:ArrayOfDiscussion" />
  <xs:complexType name="Discussion">
    <xs:sequence>
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="discussionId" type="xs:int" />
      <xs:element minOccurs="0" name="nextCommentId" type="xs:int" />
      <xs:element minOccurs="0" name="parentSubForum" nillable="true" type="tns:SubForum" />
      <xs:element minOccurs="0" name="publishDate" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.Users" minOccurs="0" name="publisher" nillable="true" type="q3:User" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Discussion" nillable="true" type="tns:Discussion" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="commentId" type="xs:int" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentDiscussion" nillable="true" type="tns:Discussion" />
      <xs:element minOccurs="0" name="publishDate" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ForumGenerator_Version2_Server.Users" minOccurs="0" name="publisher" nillable="true" type="q4:User" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>